@import '_globals.scss';

.App {
  font-size: 15px;
  line-height: 24px;
  color:  $md-primary-color;
}

li :hover{
  background: rgba(0, 0, 0, 0.1);
}

a{
  color:rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

a:hover {
  color:rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
